.wd-left-letters {
    padding-left: 40%;
    padding-top: 5px;
    font-size: 30px;
}

.wd-search-div {
    padding-top: 10px;
}
.wd-search-input {
    float: left;
    background-color: darkgray;
    width: 50%;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
}
.wd-gear-icon {
    padding-top: 3px;
    padding-left: 12px;
    height: 30px;
    width: 30px;
}

.wd-selected-category {
    padding: 16px;
    float: left;
    color: rgb(29,161,242);
    border-bottom: 5px solid rgb(29,161,242);
}
.wd-category-header {
    padding: 16px;
    float: left;
    color: rgb(110, 118, 125);
}

.wd-separation-bar {
    float: left;
    height: 16px;
    width: 100%;
    border: 1px solid rgb(47, 51, 54);
}

.wd-tuits {
    float: left;
    width: 100%;
    border-bottom: 1px solid rgb(47, 51, 54);
    padding: 5px;
}
.wd-tuits{
    border-radius: 10px;
}
.wd-topic {
    padding: 5px;
    color: rgb(110, 118, 125);
    font-size: 13px;
}
.wd-title {
    padding: 5px;
    color: white;
    font-size: 20px;
}
.wd-tuit-count {
    padding: 5px;
    color: rgb(110, 118, 125);
    font-size: 13px;
}
.wd-tuit-with-image {
    float: left;
}
.wd-tuit-with-image2 {
    float: right;
    padding-right: 16px;
}
.wd-author {
    color: white;
}
#tuit-image {
    border-radius: 10px 10px 10px 10px;
}